@import 'assets/styles/base';

.AppContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;

  header {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid darken($accent-secondary, 20);
    margin-bottom: 20px;;
  }
}

.Main {
    flex-grow: 1;
    transition: 200ms;
}

.DragStyle {
    background-color: lighten($dark-background, 5);
}

.DragAndDrop {
    color: $accent-secondary;
    text-align: center;

    &__Img {
        width: 25px;
        height: 25px;
        fill: $accent-secondary;
    }
}