@import 'assets/styles/base';

.AppContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid darken($accent-secondary, 20);
    padding: 20px 40px;
  }
}

.Main {
  flex-grow: 1;
  transition: 200ms;
  padding-bottom: 40px;
}

.DragAndDrop {
  width: 100%;
  display: flex;
  place-content: center;
  margin: 20px 0;
  &__Dropzone {
    @include unbuttonize();
    cursor: pointer;
    border-radius: $border-radius;
    color: $accent-secondary;
    text-align: center;
    padding: 40px 150px;
    &:hover {
      @extend .DragActive;
    }
  }

  &__Img {
    width: 25px;
    height: 25px;
    fill: $accent-secondary;
    margin-bottom: 10px;
  }
}

.DragActive {
  background-color: lighten($dark-background, 2);
}

@media (max-width: $screen-small-size) {
  .DragAndDrop__Dropzone {
    display: none;
  }
}
