@import 'assets/styles/base';

.Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  p {
    padding: 0 10px;
  }
}

.Icon {
  @include unbuttonize();

  &__Arrow {
    height: 20px;
    width: 20px;
    transition: 200ms;
  }

  &__Upvote {
    stroke: $accent-secondary;
    stroke-width: 3px;

    &:hover {
      stroke: white;
    }

    &.Active {
      fill: $accent-secondary;
      stroke: none;
    }
  }

  &__Downvote {
    stroke-width: 3px;
    transform: rotate(180deg);
    stroke: $accent-secondary;

    &:hover {
      stroke: $red-accent;
    }

    &.Active {
      fill: $red-accent;
      stroke: none;
    }
  }
}
